{% if site.gitalk.enable %}
<!-- Gitalk 评论框 start  -->

<!-- 添加一个容器 -->
<div id="gitalk-container"></div>

<!-- 引入一个生成md5的js，用于对location.pathname的id值进行处理、防止其过长 -->
<script src="{{ site.baseurl }}/js/md5.min.js"></script>

<!-- Javascript 代码生成 Gitalk 插件 -->
<script type="text/javascript">
    var gitalk = new Gitalk({
        <!-- gitalk的id是页面的唯一标识，长度必须小于50 -->
        id: md5(location.pathname),                            // Ensure uniqueness and length less than 50
        clientID: '{{site.gitalk.clientID}}',
        clientSecret: '{{site.gitalk.clientSecret}}',
        repo: '{{site.gitalk.repo}}',
        owner: '{{site.gitalk.owner}}',
        admin: ['{{site.gitalk.admin}}'],
        distractionFreeMode: {{site.gitalk.distractionFreeMode}},
        createIssueManually: {{site.gitalk.createIssueManually}},
        perPage: {{site.gitalk.perPage}},
        pagerDirection: '{{site.gitalk.pagerDirection}}',
        labels: ['Gitalk'],                                               // GitHub issue 的标签
    })
    gitalk.render('gitalk-container');
</script>

<!-- Gitalk 评论框 end -->
{% endif %}
